<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    label{
      width:100px;
      display: inline-block;
    }
  </style>
</head>
<body>
    <div>
        <div>
          用户账号<input v-model="form.userName"> 
          用户账号<input v-model="form.userName"> 
        </div>
        <div>
          字体大小<input v-model="form.fontSize">
        </div>
        <div style="font-size:{{form.fontSize}}px">
          用户名{{form.userName}}
        </div>
        <div>
          <button @click="clearForm">清空</button>
        </div>
    </div>
  <script>
    // (function(){

     var vm = new MVVM({
        data:{
          form:{
            userName:'lingluo',
            fontSize:30
          }
        },
        methods:{
          clearForm(){
            this.form.userName = ''
          }
        }
      });


    // })()
  </script>
</body>
</html>